################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BOOKSTORE/.vs/BOOKSTORE
/BOOKSTORE/BOOKSTORE/bin/Debug/netcoreapp3.1
/BOOKSTORE/BOOKSTORE/obj
